@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 500px;
    height: 400px;
    border: 5px solid #a445b2;
    border-radius: 15px;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #a445b2, pink);
}
::selection{
    background: pink;
    color: #fff;
}
.wrapper{
    text-align: center;
    overflow: hidden;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    width: 80%;
    margin: 32px;
}
.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner{
    width: 100%;
}
.title{
    color :#a445b2;
    font-size: 50px;

}
.author {
    color :#a445b2;
    font-style: italic;
    font-size: 30px;
    ;
}